# WEB BACKEND
Django==6.0.3
djangorestframework==3.16.1
django-cors-headers==4.9.0
gunicorn==23.0.0
whitenoise==6.11.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10
celery
tf-keras

# CORE
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.4
joblib==1.5.3
Pillow==10.4.0
# MODELOS
xgboost==2.0.3

# PROCESSAMENTO DE ÁUDIO
whisper
librosa==0.10.1
soundfile==0.12.1
speechrecognition==3.10.1

# PROCESSAMENTO DE VÍDEO
opencv-python==4.9.0.80
mediapipe
deepface==0.0.83
moviepy==2.1.2
imageio-ffmpeg==0.6.0

# NLP
transformers==4.39.3
textstat==0.7.3
gTTS==2.5.4
edge-tts==7.2.8

# VISUALIZAÇÃO
matplotlib==3.8.4
seaborn==0.13.2

# SUPORTE GERAL
python-dotenv==1.0.1
openai==1.23.2
requests>=2.32.0
stripe

# COMPATIBILIDADE
protobuf
emoji==0.6.0

# DOCUMENTOS E EXPORTAÇÃO
reportlab==4.4.10
pypdf==6.9.1
python-docx==1.2.0